.App {
  /*text-align: ; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #091a36;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label{
  display:block !important;
}

h1{
  text-align:center !important;
  margin-bottom:5vw !important;
}

container{
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.footer{
  text-align:center;
  font-size:0.7em;
  margin-top: 5vw;
}

.footerlink{
  margin-left: 1%;
  margin-right: 1%;
}

a{
  color: white !important;
}

input{
  display:table-cell !important;
}

.long-input{
  width:100% !important;
}

.stat{
  width:30% !important;
}

.btn{
  background-color:transparent !important;
  border-color: white !important;
  color: white !important;
}

.btn:hover{
  background-color:white !important;
  color: #091a36 !important
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.card{
  background-color:transparent !important;
  border-color: white !important;
  width:40% !important;
}